#myCarousel {
    height: 720px;
    background-color: #e6d3f7;
}

#cta {
    padding-top: 100px;
}

.navbar {
    background-color: #9b51E0;
    color: white;
}

.ungu-muda {
    background-color: #eee3f8;
}

.ungu-tua {
    background-color: #9b51E0;
}